#contact-container{
    text-align: center;
    justify-self: center;

    display:inline-block;

    width: 40%;
	  padding-top: 180px;
	  padding-bottom: 50px;
}


h1{
    font-size: 3rem;
    margin: 0%;
}
pre
{
    margin: 0%;
    font-size: 1rem;
    padding-bottom: 50px;
}


input, label {
    display:block;
    
}
input::placeholder{
    text-align:center;
}

textarea::placeholder{
    text-align:center;
}

::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }





 /*Button style thank you google*/
 #email-button {
    position: relative;
    padding: 15px 45px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 15px;
    border: 2px solid #00c2cb;
    background: none;
    color: #00c2cb;
    cursor: pointer;
    outline: none;
    transition: 200ms;
    font-family: "Poppins", sans-serif;
  }
  svg {
    position: absolute;
    color: transparent;
    transition: 200ms;
    font-family: "Poppins", sans-serif;
  }
  #email-button:focus {
    color: transparent;
    outline: none;
    border: 2px solid transparent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 25px 25px;
    border-left: 2px solid #00c2cb;
    animation: spin 2s 500ms forwards;
  }
  #email-button:focus svg {
    animation: check 300ms 2250ms forwards;
  }
  
  @keyframes spin {
    80% {
      border: 2px solid transparent;
      border-left: 2px solid #00c2cb;
    }
    100% {
      transform: rotate(720deg);
      border: 2px solid #00c2cb;
    }
  }
  
  @keyframes check {
    to {
      color: #00c2cb;
    }
  }
  