#contact-container{
    text-align: center;
    justify-self: center;

    width: 40%;
	  padding-top: 180px;
	  padding-bottom: 50px;
}


h1{
    font-size: 4vw;
    margin: 0%;
}
p
{
    margin: 0%;
    font-size: 1rem;
    padding-bottom: 50px;
}


input, label {
    display:block;
    
}
input::placeholder{
    text-align:center;
}

textarea::placeholder{
    text-align:center;
}

::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }


/*Form transitions*/
.animate-out-fade-right {
  animation: fadeOutRight 2s 500ms forwards;
}
@keyframes fadeOutRight {
  to {
    opacity: 0;
    translate: 0px 50px;
  }
}

 /*Cool button style thank you google had to adjust for svg*/
 .button-unclicked {
    padding: 15px 45px;
    display: table-cell;
    width: auto;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    font-size: 1.5rem;
    border-radius: 15px;
    border: 2px solid #00c2cb;
    background: none;
    color: #00c2cb;
    cursor: pointer;
    outline: none;
    transition: 200ms;
    font-family: "Poppins", sans-serif;
  }
  svg {
    transform: translate(0px, -7px);
    transform-box: fill-box;
    transform-origin: 50px 0px;
    margin-top: 0%;
    position: relative;
    color: transparent;
    opacity: 0;
    transition: 200ms;
    fill:#00c2cb;
    width: 0px;
    height: 0px;

  }
  .button-clicked {
    color: transparent;
    outline: none;
    border: 2px solid transparent;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    padding:0;
    border-left: 2px solid #00c2cb;
    color: #00c2cb;
    background: none;
  }

  .button-clicked:focus {
    color: transparent;
    outline: none;
    border: 2px solid transparent;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    padding:0;
    border-left: 2px solid #00c2cb;
    animation: spin 2s 500ms forwards;
    animation-fill-mode: forwards;
  }
  .button-clicked:focus svg {
    animation: checkmark 300ms 2250ms forwards;
  }
  
  @keyframes spin {
    80% {
      border: 2px solid transparent;
      border-left: 2px solid #00c2cb;
    }
    100% {
      transform: rotate(720deg);
      border: 2px solid #00c2cb;
    }
  }
  
  @keyframes checkmark {
    to {
      opacity: 1;
      width: 30px;
      height: 30px;
      fill:"freeze";
    }
  }


  