
  
  body {
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
    padding: 1rem;
    
  }
  
  * {
    box-sizing: border-box;
  }
  

  @media (max-width: 600px) { 
    .desktop
    {
      display: none; 
      visibility: hidden;
    } 
  }
  @media (min-width: 600px) { 
    .mobile
    {
      display: none; 
      visibility: hidden;
    } 
  }
  



  /* nav styles */

.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #ff9776;
    display: none;
    margin: 0;
  }
  
  .nav-links a {
    display: block;
    text-align: left;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .nav-links a:hover,
  .nav-links a:focus {
    background-color: #ff9776;
  }
  

  .expanded {
    display: unset;
  }
  
  @media screen and (min-width: 636px) {
    
  }

  footer
  {
    position: fixed;
    left: 0;
    bottom: 0;
  }

  html {
    background: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    font-family: sans-serif;

    scroll-snap-type: y mandatory;
  }

 /* Dark styles */
  html.dark {
    background:linear-gradient(to top, #112f68 0%, #1f0342 100%);
    /*background:linear-gradient(to top, #30cfd0 0%, #330867 100%);*/
    color: #fff;
  }
  
  .dark .nav-links a {
    color: #fff;
  }




   /* Todo check what this is and move it */
  .column {
    float: left;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }