
  /* Welcome div stuff */
.Tittle {
    font-size: 6rem;
    margin: 0%;
    line-height: 0.7;
  }

  .WelcomeText
  {
    line-height: 1.2;
    font-size: 1.25rem;
  }

.container {
    width: fit-content; 
    display: table;  
    margin-left: 15%;
    margin-top: 8.5%;
}

.inner-primary {
    display: block; 
    
}

.inner-rest {
    display: table-caption; 
    caption-side: bottom; 
}

/* Laptop image stuff */
.welcome-laptop-parent
{
  text-align: center;
  
}

.wrapper
{
  display: inline-block;
  vertical-align: middle;
  padding: 1rem 1rem;
}

.laptop-image
{
  display: inline-block;
  vertical-align: middle;
}


html {
  scroll-snap-type: y mandatory;
}
 /* Page layout */
.page {
  height: 100vh;
  scroll-snap-align: start;

  z-index: 1;
  
}



/* Nav Buttons*/
.home-page-nav
{
  z-index: 2;
  position: fixed;
  bottom: 10%;
  right: 10%;
}

/* 
.page:after {
  content:'';
  position:absolute;
  left:-600%;
  width:1300%;
  padding-bottom:1300%;
  top:80%;
  background:none;
  border-radius:50%;
  box-shadow: 0px 0px 0px 9999px teal;
  z-index:-1;
}