
  /* Welcome div stuff */
.Tittle {
    font-size: 6rem;
    margin: 0%;
    line-height: 0.7;
  }

  .WelcomeText
  {
    line-height: 1.2;
    font-size: 1.25rem;
  }

.container {
    width: fit-content; 
    display: table;  
    margin-left: 15%;
    margin-top: 8.5%;
}

.inner-primary {
    display: block; 
    
}

.inner-rest {
    display: table-caption; 
    caption-side: bottom; 
}

/* Laptop image stuff */
.welcome-laptop-parent
{
  text-align: center;
  
}

.wrapper
{
  display: inline-block;
  vertical-align: middle;
  padding: 1rem 1rem;
}

.laptop-image
{
  display: inline-block;
  vertical-align: middle;
}

 /* Page layout */
.page {
  height: 100vh;
}

  /* Dark styles */
  html.dark {
    background-color: #0d0950;
    color: #fff;
  }
  html
  {
    background-color:#fff;
  }